/* line 4, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 3, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_body.scss */
html {
  font-size: 62.5%;
}

/* line 7, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_body.scss */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  background-image: linear-gradient(180deg, #0B0E1E 0%, #47402F 100%);
}

/* line 4, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_container.scss */
.container {
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;
}

/* line 10, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_container.scss */
.container--medium {
  max-width: 120rem;
}

@media screen and (max-width: 79.375rem) {
  /* line 14, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_container.scss */
  .container--responsive {
    padding: 0 30px;
  }
}

@media screen and (max-width: 25rem) {
  /* line 14, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/base/_container.scss */
  .container--responsive {
    padding: 0 15px;
  }
}

/* line 6, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/layout/_header.scss */
.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color .3s;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/layout/_main.scss */
.layout-main {
  margin: 220px auto 0 auto;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/layout/_about.scss */
.layout-about {
  margin: 50px auto 90px auto;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/layout/_episodes.scss */
.layout-episodes {
  margin: 50px auto 90px auto;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/layout/_moreLikeThis.scss */
.more-like-this {
  margin: 50px auto 90px auto;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/layout/_comments.scss */
.layout-comments {
  margin: 50px auto 90px auto;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_botao.scss */
.main__botao {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: rgba(255, 255, 255, 0.253);
  font-size: 1rem;
  cursor: pointer;
}

/* line 14, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_botao.scss */
.main__botao--amarelo {
  background-color: #fcc537;
}

/* line 18, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_botao.scss */
.main__botao__icon {
  margin-left: 0px;
  color: white;
  font-size: 2.4rem;
  vertical-align: middle;
}

/* line 4, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/pages/_index.scss */
.container-header-e-main {
  position: relative;
  margin-bottom: 90px;
}

/* line 9, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/pages/_index.scss */
.img-serie_background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(30px);
  z-index: -1;
}

/*------------------*\
   #HEADER
\*------------------*/
/* line 13, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
}

/* line 24, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__icon-menu {
  display: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

@media screen and (max-width: 68.75rem) {
  /* line 24, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__icon-menu {
    position: absolute;
    top: 50%;
    left: 20px;
    display: block;
    transform: translateY(-50%);
  }
}

/* line 45, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__link-logo {
  display: flex;
}

@media screen and (max-width: 68.75rem) {
  /* line 45, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__link-logo {
    margin-left: 6rem;
  }
}

/* line 53, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__link-logo__logo {
  width: 18rem;
}

@media screen and (max-width: 37.5rem) {
  /* line 53, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__link-logo__logo {
    display: none;
  }
}

/* line 61, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__link-logo__logo-responsive {
  width: 6.2rem;
  display: none;
}

@media screen and (max-width: 37.5rem) {
  /* line 61, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__link-logo__logo-responsive {
    display: block;
  }
}

/* NAV */
/* line 71, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav {
  width: 50%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 68.75rem) {
  /* line 71, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c56600;
    transition: left .3s;
  }
}

/* line 96, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  transition: color .3s;
}

/* line 110, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav__icon:hover {
  color: #292929;
}

@media screen and (max-width: 68.75rem) {
  /* line 96, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__nav__icon {
    display: block;
  }
}

/* line 119, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav__lista {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  list-style-type: none;
}

@media screen and (max-width: 68.75rem) {
  /* line 119, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__nav__lista {
    text-align: center;
    flex-direction: column;
    line-height: 3rem;
  }
}

/* line 136, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav__lista__item__link {
  color: #fff;
  text-decoration-color: transparent;
  transition: text-decoration .3s;
}

/* line 144, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav__lista__item__link:hover {
  text-decoration-color: #fff;
}

/* CONTAINER SEARCH E PERFIL */
/* line 149, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.container__search-e-perfil {
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Searh */
/* line 160, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__form {
  position: relative;
  width: 70%;
  margin-right: 30px;
  display: flex;
  justify-content: end;
}

/* line 169, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__form__container {
  display: flex;
}

/* line 173, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__form__input {
  position: absolute;
  top: -0.3rem;
  right: 1.7rem;
  display: none;
  width: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px 10px;
  opacity: 1;
  transition: opacity .3s;
  animation: aumentarInputTextSearch .5s forwards;
}

@keyframes aumentarInputTextSearch {
  from {
    width: 1rem;
  }
  to {
    width: 16rem;
  }
}

/* line 195, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__form__input__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

/* line 205, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__form__input__button__img {
  width: 1.8rem;
}

/* Perfil */
/* line 210, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.container-perfil {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 31.25rem) {
  /* line 210, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .container-perfil {
    top: 27px;
    right: 10px;
  }
}

/* line 222, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__foto-perfil {
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
}

/* line 229, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav-perfil {
  position: absolute;
  top: 6rem;
  right: -6rem;
  display: none;
  padding: 15px 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px #c56600;
  background-color: #c56600;
  opacity: 0;
  animation: mostrarInfoPerfil .3s forwards;
}

@media screen and (max-width: 115.625rem) {
  /* line 229, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__nav-perfil {
    right: 10px;
    border-radius: 5px 0 5px 5px;
  }
}

/* line 250, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav-perfil:before {
  position: absolute;
  top: -1.95rem;
  right: 38%;
  border: 1rem solid transparent;
  border-bottom-color: #c56600;
  content: "";
}

@media screen and (max-width: 115.625rem) {
  /* line 250, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
  .header__nav-perfil:before {
    right: 0px;
  }
}

@keyframes mostrarInfoPerfil {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ocultarInfoPerfil {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* line 277, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav-perfil__lista {
  list-style-type: none;
}

/* line 281, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav-perfil__lista__item {
  width: 16rem;
  line-height: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 291, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav-perfil__lista__item__link {
  color: #fff;
  text-decoration: none;
}

/* line 297, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_header.scss */
.header__nav-perfil__lista__item__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 31.25rem) {
  /* line 5, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .main {
    margin-top: 150px;
  }
}

/* Serie */
/* line 12, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-img-e-info-serie {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

@media screen and (max-width: 54.6875rem) {
  /* line 12, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .container-img-e-info-serie {
    flex-direction: column;
    align-items: center;
  }
}

/* Video fixed */
/* line 24, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__video-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #010711, #004055, #007e73, #38bb58, #e7e700);
  animation: mostrarVideoFixed .5s forwards;
}

@keyframes mostrarVideoFixed {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 44, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__video-fixed__playerContainer {
  width: 80%;
  margin-top: 60px;
}

/* line 49, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__video-fixed__button-absolute {
  position: absolute;
  top: 20px;
  left: 25px;
  display: flex;
  align-items: center;
  border: 0;
  color: #fcc537;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 31.25rem) {
  /* line 49, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .main__video-fixed__button-absolute {
    font-size: 1rem;
  }
}

/* line 70, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__video-fixed__button-absolute > span {
  font-size: 2rem;
}

@media screen and (max-width: 31.25rem) {
  /* line 70, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .main__video-fixed__button-absolute > span {
    font-size: 1.4rem;
  }
}

/* line 78, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__img-capa-da-serie {
  max-width: 100%;
  width: 30.9rem;
  height: 46.6rem;
  margin-right: 24px;
  border-radius: 20px;
  object-fit: cover;
}

@media screen and (max-width: 43.75rem) {
  /* line 78, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .main__img-capa-da-serie {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* line 93, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__titulo {
  margin-bottom: 18px;
  color: white;
  font-size: 3.6rem;
  font-weight: 400;
}

/* line 102, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__sub-titulo {
  margin-bottom: 15px;
  color: white;
  font-size: 1.7rem;
  font-weight: 400;
}

/* line 111, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__classificacao__nota {
  display: inline-block;
  margin-right: 10px;
  color: #fcc537;
  font-size: 2.8rem;
}

/* line 120, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__classificacao__estrelas {
  margin-right: 30px;
}

/* line 124, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__classificacao__estrelas__estrela {
  display: inline-block;
  margin-right: -3px;
  color: #fcc537;
  font-size: 1.6rem;
  vertical-align: baseline;
}

/* line 135, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__classificacao__IMDB {
  padding: 4px 4px;
  border-radius: 5px;
  background-color: #fcc537;
}

/* line 142, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__classificacao__IMDB__nota {
  font-size: 1.2rem;
  font-weight: 700;
}

/* line 147, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__classificacao__IMDB__img {
  width: 3.3rem;
  height: 1.6rem;
  vertical-align: middle;
}

/* line 154, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__container-tempo {
  margin-top: 12px;
  color: white;
}

/* line 160, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__tempo {
  color: white;
  font-size: 1.6rem;
}

/* line 166, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__pais {
  color: white;
  font-size: 1.6rem;
}

/* line 172, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__container-caracteristicas {
  margin-top: 15px;
  display: flex;
}

@media screen and (max-width: 75rem) {
  /* line 172, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .main__container-caracteristicas {
    flex-wrap: wrap;
  }
}

/* line 181, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__caracteristica {
  padding: 8px 24px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 7px;
  color: white;
  background-color: rgba(255, 255, 255, 0.253);
  font-size: 1.4rem;
}

/* line 193, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__caracteristica:last-child {
  margin-right: 0;
}

/* line 197, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__sinopse {
  max-width: 80%;
  margin-top: 20px;
  color: white;
  font-size: 1.6rem;
}

@media screen and (max-width: 75rem) {
  /* line 197, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .main__sinopse {
    max-width: 100%;
  }
}

/* Hr */
/* line 211, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.main__hr {
  margin-bottom: 30px;
  border-width: 1px;
  color: rgba(255, 255, 255, 0.287);
}

/* Container botoes serie */
/* line 219, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-botoes-serie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 225, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-botoes-serie .main__botao {
  font-size: 1.7rem;
}

/* line 229, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-botoes-serie > .main__botao {
  margin-right: 0;
}

@media screen and (max-width: 32.125rem) {
  /* line 229, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .container-botoes-serie > .main__botao {
    margin-top: 30px;
  }
}

/* line 237, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-botoes-serie > .main__botao > .main__botao__icon {
  margin-left: -6px;
  color: #fcc537;
}

/* line 243, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-botoes-serie > .main__botao > .principais__btn-text + .main__botao__icon {
  margin-left: 0;
}

/* line 247, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
.container-botoes-default {
  margin-right: 50px;
}

@media screen and (max-width: 51.375rem) {
  /* line 251, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_main.scss */
  .principais__btn-text {
    display: none;
  }
}

/* line 6, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.about__titulo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* line 19, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.titulo__hifen-esq,
.titulo__hifen-dir {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: white;
}

/* line 28, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.titulo__hifen-esq {
  margin-right: 20px;
}

/* line 32, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.titulo__hifen-dir {
  margin-left: 20px;
}

/* line 36, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.container-thriller {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 65rem) {
  /* line 36, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
  .container-thriller {
    flex-direction: column;
    align-items: center;
  }
}

/* line 46, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.about__video-thriller {
  width: 35%;
  height: 22.9rem;
}

@media screen and (max-width: 65rem) {
  /* line 46, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
  .about__video-thriller {
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 43.75rem) {
  /* line 46, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
  .about__video-thriller {
    width: 100%;
    height: auto;
  }
}

/* line 61, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.container-about-descricao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

@media screen and (max-width: 65rem) {
  /* line 61, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
  .container-about-descricao {
    width: 100%;
    margin-top: 50px;
  }
}

/* line 73, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.container-about-descricao__titulo-e-paragrafo {
  display: flex;
}

@media screen and (max-width: 65rem) {
  /* line 73, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
  .container-about-descricao__titulo-e-paragrafo {
    margin-bottom: 30px;
  }
  /* line 79, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
  .container-about-descricao__titulo-e-paragrafo:last-child {
    margin-bottom: 0;
  }
}

/* line 85, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.about__sub-titulo {
  font-size: 1.6rem;
  color: #BCBCBC;
}

/* line 91, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.container-about-descricao__titulo-e-paragrafo:nth-child(1) .about__sub-titulo {
  margin-right: 2rem;
}

/* line 95, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.container-about-descricao__titulo-e-paragrafo:nth-child(2) .about__sub-titulo {
  margin-right: 3.3rem;
}

/* line 99, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.container-about-descricao__titulo-e-paragrafo:nth-child(3) .about__sub-titulo {
  margin-right: 4.8rem;
}

/* line 103, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_about.scss */
.about__paragrafo {
  font-size: 1.5rem;
  color: white;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episodes {
  position: relative;
}

/* line 5, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episodes__titulo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* line 18, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.container-select-episode-e-container-episodes-slider {
  display: flex;
  justify-content: space-between;
  background-color: rebeccapurple;
}

/* line 24, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.container-select-episode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

/* line 32, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.container-select-episode::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: 1px;
  background-color: #fff;
  content: "";
}

/* Select temporada */
/* line 47, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episodes__select-temporada-custom {
  position: relative;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

/* line 53, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episodes__select-temporada-custom:hover > .select-temporada-custom__container-index-temporada {
  display: flex;
}

/* line 58, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.select-temporada-custom__temporada-selecinada {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1.05rem 2rem;
  border-radius: 5px;
  color: #fff;
  background-color: #161721;
  font-size: 2.4rem;
  cursor: pointer;
}

/* line 74, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.select-temporada-custom__container-index-temporada {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  background-color: #5a5a5a;
}

/* line 88, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.select-temporada-custom__index-temporada {
  width: 100%;
  padding: 0.5rem 0;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
}

/* line 99, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.select-temporada-custom__index-temporada:hover:not(:last-child) {
  background-color: #0059acb9;
}

/* line 103, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.select-temporada-custom__index-temporada:first-child {
  border-radius: 5px 5px 0 0;
}

/* line 107, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.select-temporada-custom__index-temporada:last-child {
  padding: 1.05rem 0;
  border-top: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 2.4rem;
}

/* Tiny slide */
/* line 117, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.container-episodes-slider {
  width: 70%;
}

/* line 121, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.tns-controls {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 127, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
button[data-controls="prev"],
button[data-controls="next"] {
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  background-color: #474852;
}

/* line 138, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
button[data-controls="prev"] > span,
button[data-controls="next"] > span {
  vertical-align: bottom;
}

/* line 143, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episode-container-main {
  display: flex;
}

/* line 147, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episode-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* line 154, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episode_capa {
  width: 14rem;
  height: 18rem;
  margin-bottom: 20px;
}

/* line 160, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_episodes.scss */
.episode_titulo {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.more-like-this {
  position: relative;
}

/* line 5, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.more-like-this__titulo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* line 18, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.titulo__hifen-esq,
.titulo__hifen-dir {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: white;
}

/* line 27, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.titulo__hifen-esq {
  margin-right: 20px;
}

/* line 31, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.titulo__hifen-dir {
  margin-left: 20px;
}

/* line 37, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.more-like-this-slider .tns-controls {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 43, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.more-like-this-slider button[data-controls="prev"],
.more-like-this-slider button[data-controls="next"] {
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  background-color: #474852;
}

/* line 54, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.more-like-this-slider button[data-controls="prev"] > span,
.more-like-this-slider button[data-controls="next"] > span {
  vertical-align: bottom;
}

/* line 60, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.filme__container-main {
  display: flex;
}

/* line 64, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.filme__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* line 71, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.filme__capa {
  width: 20.5rem;
  height: 27.4rem;
  margin-bottom: 20px;
}

/* line 77, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.filme__titulo {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  font-weight: normal;
}

/* line 85, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_moreLikeThis.scss */
.filme__sub-titulo {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  font-weight: normal;
  color: #8A8A8A;
}

/* line 1, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__titulo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}

/* line 14, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.titulo__hifen-esq,
.titulo__hifen-dir {
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: white;
}

/* line 23, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.titulo__hifen-esq {
  margin-right: 20px;
}

/* line 27, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.titulo__hifen-dir {
  margin-left: 20px;
}

/* line 31, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-box-e-comments {
  display: flex;
}

@media screen and (max-width: 53.125rem) {
  /* line 31, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
  .comments__container-box-e-comments {
    flex-direction: column;
  }
}

/* line 39, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-box {
  position: relative;
  width: 30%;
  border-radius: 10px;
}

@media screen and (max-width: 53.125rem) {
  /* line 39, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
  .comments__container-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* line 51, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.container-form-e-emoji {
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #54514e;
}

/* line 59, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0 0rem 0;
  border-radius: 10px;
}

/* line 68, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__textarea {
  width: 100%;
  height: 18rem;
  border: none;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
  padding: 0 20px;
  color: #91908e;
  background-color: transparent;
  font-family: 'PT Sans', sans-serif;
  resize: none;
  outline: none;
}

/* line 85, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #FCC537;
  cursor: pointer;
}

/* line 98, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* line 105, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__emoji {
  display: inline-block;
  font-size: 2.7rem;
  cursor: pointer;
  user-select: none;
}

/* line 114, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__emoji:last-child {
  margin-right: 0px;
}

/* line 119, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-comments {
  width: 66%;
  margin-left: 4%;
}

@media screen and (max-width: 53.125rem) {
  /* line 119, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
  .comments__container-comments {
    width: 100%;
    margin-left: 0;
  }
}

/* line 129, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__cont-comment {
  padding: 18px 20px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
  background-color: #54514e;
}

/* line 138, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-left {
  width: 80%;
}

/* line 142, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-profile {
  display: flex;
  align-items: center;
}

/* line 147, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__img-perfil {
  width: 4.8rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* line 153, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__nome-perfil {
  display: inline-block;
  margin-left: 15px;
  color: #B8B8B8;
  font-size: 1.4rem;
}

/* line 162, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__comet {
  margin: 20px 0 0 8%;
  color: #fff;
}

/* line 168, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__container-right {
  width: 20%;
  border-left: 1px solid #fff;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* line 180, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__nota {
  margin-bottom: 5px;
  color: #fcc537;
  font-weight: bold;
  font-size: 1.5rem;
}

/* line 189, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__data {
  color: #fff;
  font-size: 1.3rem;
}

/* line 195, ../../Users/Israel/Desktop/projetos/FilimoMovieStreamer/sass/components/_comments.scss */
.comments__exibir-mais {
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */