@media screen and (max-width: 1200px) {
    .episodes {
        padding: 0 30px;    
    }
}

@media screen and (max-width: 700px) {
    /* EPISODES */
    .seasons {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    /* EPISODES */
    .seasons {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    /* EPISODES */ 
    .episodes {
        padding: 0 10px;
    }
}

@media screen and (max-width: 400px) {
    /* EPISODES */
    .seasons {
        width: 40%;
    }
}