.footer {
    position: relative;

    padding-top: 100px;
}

.footer__link-ir-pro-topo {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -50%);

	padding: 3rem;
	border-radius: 50%;

    background-color: #fcc537;

    text-decoration: none;

	cursor: pointer;

    &:hover {
    	background-color: #f2ae00;
    }
}

.link-ir-pro-topo__icon {
    color: #fff;

	font-size: 3rem;
}

.container-lista-e-container-marca {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @media screen and (max-width: 62.5rem) {
        flex-direction: column;
        align-items: center;
    }
}

.container-lista {
    display: flex;
    justify-content: space-between;
    width: 50%;

    @media screen and (max-width: 62.5rem) {
        width: 100%;
        margin-bottom: 50px;
    }
}

.footer__lista {
    list-style-type: none;
}

.footer__item {
    line-height: 5rem;
}

.footer__link {
    color: #fff;

    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container-marca {
    width: 30%;

    @media screen and (max-width: 62.5rem) {
        width: 50%;
    }

    @media screen and (max-width: 37.5rem) {
        width: 100%;
    } 
}

.container__logo {
    margin-bottom: 4rem;
}

.footer__logo {
    width: 16rem;
}

.footer__paragrafo {
    color: #fff;

    font-size: 1.4rem;
}

.container__rede-sociais {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__rede-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    border-radius: 50%;

    color: #b7b7b7;
    background-color: #938c7b;

    text-decoration: none;
}

.footer__icon {
    font-size: 2.4rem;
}

.footer__hr {
    border: 1px solid #707070;

    opacity: 0.5;
}

.footer__paragrafo-direitos {
    color: #fff;

    font-size: 1.5rem;
    line-height: 7rem;
    text-align: center;
}