.more-like-this {
    position: relative;
}

.more-like-this__titulo {
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 50px;

    color: white;

    font-size: 2rem;
    font-weight: 500;
}

.titulo__hifen-esq,
.titulo__hifen-dir {
    display: inline-block;
    width: 50px;
    height: 2px;

    background-color: white;
}

.titulo__hifen-esq {
    margin-right: 20px;
}

.titulo__hifen-dir {
    margin-left: 20px;
}


// Tiny Slide
.more-like-this-slider .tns-controls {
    position: absolute;
    top: 0;
    right: 0;
}

.more-like-this-slider button[data-controls="prev"], 
.more-like-this-slider button[data-controls="next"] {
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 50px;

    color: #fff;
    background-color: #474852;
}

.more-like-this-slider button[data-controls="prev"] > span, 
.more-like-this-slider button[data-controls="next"] > span {
    vertical-align: bottom;
}


.filme__container-main {
    display: flex;
}

.filme__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.filme__capa {
    width: 20.5rem;
    height: 27.4rem;
    margin-bottom: 20px;
}

.filme__titulo {
    color: #fff;

    font-size: 1.8rem;
    text-align: center;
    font-weight: normal;
}

.filme__sub-titulo {
    margin-top: 1.6rem;

    font-size: 1.4rem;
    font-weight: normal;

    color: #8A8A8A;
}