//------------------\\
//    #TIPOGRAFIA
//------------------//
$PT-Sans: 'PT Sans', sans-serif;

$f-s-titulo-filme:     3.6rem;
$f-s-sub-titulo-filme: 1.7rem;
$f-s-nota-filme:       2.8rem;
$f-s-nota-IMDB:        1.2rem;
$f-s-tempo-filme:      1.6rem;
$f-s-categoria-filme:  1.4rem;
$f-s-descricao-filme:  1.6rem;



$default:             1.6rem;